#acf-group_main_flexible {
  background: none;
  border: 0;

  .layout.-collapsed {
  }

  .layout > .acfe-fc-placeholder.acfe-fc-preview > .acfe-flexible-placeholder:not(:has(.container)):not(:has(.container-fluid)),
  .acfe-modal-edit-field_main_flexible .acfe-modal-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .layout:not(.-collapsed) .acf-field:not(.acf-field-repeater) {
    margin: 0 20px;
  }

  .acf-fc-layout-handle {
    background: #FFF;
  }

  .acf-fields.-left > .acf-tab-wrap .acf-tab-group {
    padding-left: 10px;
  }

  .truc {
    background: #FFF;
    padding: 20px;
  }

  .acf-fields.-left > .acf-field:before {
    display: none;
  }

  .acf-fields.-left > .acf-field > .acf-label {
    display: none;
  }

  .acf-fields.-left > .acf-field > .acf-input {
    width: 100%;
    float: unset;
    padding: 0;
  }
}

